.places {
  /* ширина равняется ширине изображения в блоке lead */
  width: 984px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .places {
    width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .places {
    width: 100%;
  }
}
