.places {
  /* ширина равняется ширине изображения в блоке lead */
  width: 984px;
  align-self: center;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .places {
    width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    /* ширина рассчитана для padding 24px, чтобы блок был по центру */
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .places {
    width: calc(100% - 32px);
  }
}
