.places {
  /* ширина равняется ширине изображения в блоке lead */
  width: 984px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .places {
    width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    /* добавили отступ 24px слева и справа для всей секции для разрешений от 768px до 1023px*/
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .places {
    width: 100%;
  }
}
