.places__image {
  grid-row: 2;
}


@media screen and (max-width: 1279px){
.places__image {
 width: 440px;
}
}

@media screen and (max-width: 1023px){
  .places__image {
   width: 340px;
  }
  }

  @media screen and (max-width: 767px){
    .places__image {
     width: 320px;
    }
    }
