.page {
  max-width: 100%;
  /* для экранов больше 1280px отцентрировали весь контент */
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 28px calc((100% - 1280px) / 2) 24px;
  background-color: #2a2c2f;
}

@media screen and (max-width: 1024px) {
  .page {
    padding: 28px calc((100% - 1024px) / 2) 24px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    padding: 28px calc((100% - 768px) / 2) 24px;
  }
}


@media screen and (max-width: 320px) {
  .page {
    padding: 16px calc((100% - 320px) / 2) 24px;
  }
}
