.page {
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  /* Сглаживаем шрифты */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 28px 0 24px;
  background-color: #2a2c2f;
  color: #ffffff;
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(303px, 1280px);

}

@media screen and (max-width: 425px) {
  .page {
    padding: 16px 0 24px;
  }
}

