.cover {
  background-image: url(../../images/cover_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  box-sizing: border-box;
  width: 1184px;
  height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover:hover::after {
  opacity: 0.8;
}


@media screen and (max-width: 1279px) {
  .cover {
    width: 1024px;
    height: 640px;
  }
}

/* breackpoit выбран, чтобы учесть ширину вертикального scrollbar'a,
из-за которого при приближении к размеру изображения 1024px появляется горизонтальная прокрутка*/
@media screen and (max-width: 1040px) {
  .cover {
    /* для того, чтобы изображение уменьшалось пропорционально вместе с экараном */
    width: 100%;
    height: calc(0.625 * 100vw);
  }
}
