@import url(../vendor/normalize.css);
/* Подключаем стили корневого элемента */
@import url(../blocks/root/root.css);
/* Подлючаем стили header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-links/header__lang-links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);

/* Подключаем шрифты */
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.woff2) format('woff2');
    src: url(../fonts/Inter-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Bold.woff2) format('woff2');
    src: url(../fonts/Inter-Bold.woff) format('woff');
    font-weight: bold;
}
